@font-face {
    font-family: "Atomicage";
    src: url(AtomicAge-Regular.ttf);

}

@font-face {
    font-family: "play-regular";
    src: url("Play-Regular.ttf")

}

:root {
    font-family: "play-regular", "system-ui", "Atomicage";
}

body {
    margin: 0;
}

#odin-text {
    color: #f9fafb;

}

/* #odin-logo {
    height: 150px;
    width: 150px;
} */

.main-container {
    display: flex;
}

.margin-container {
    position: relative;
    width: 30vw;
    height: 100vh;
    background-image: url(fern\ background.jpg);
    background-size: 40vw 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
    position: relative;
    margin-top: 11rem;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    
}

img#odin-logo {
    width: 5.5rem;
    height: 8rem;
}

.margin-title-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5rem;
}

.sign-up-container {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-container {
    background-color: #f9fafb;
    flex:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.paragraph-container {
    margin-top: 50px;
    padding: 2rem;
}

.persuasion-text{
    margin-top: 1.5rem;
}

.signup-interaction {
    padding: 2rem;
    display: flex;
    flex: auto;
    box-shadow: 0px 5px 5px #969696;

}

#signup-fieldset {
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
label {
    margin-top: .5rem;
    margin-bottom: 0rem;
}

.field-control-container {
    display:flex;

}

.left-side-signup {
    display:flex;
    flex-direction: column;
    margin-right: 50px;
    height: 150px;
}

.right-side-signup {
    display: flex;
    flex-direction: column;
    height: 150px;
} 

footer {
    margin-top: 0rem;
    flex: auto;
    padding: 2rem;
}

#submit-form-button {
    width: 8rem;
    height: 2.5rem;
    background-color: #596d48;
    color: #ffffff;
    border-radius: 5px;
    border: solid #364429;
    box-shadow: 5px 5px 5px #969696 */
}

#submit-form-button:focus{
    background-color: #bdcab2;
}

#login-link {
    color:#596d48;
    text-decoration: none;
}

.field-control-container>input{
    border-radius: 5px;
}

#signup-fieldset {
    border: none;
}


 #password-field:invalid {
    border: solid red;
    border-radius: 5px;
}
 #confirm-password-field:invalid {
    border: solid red;
    border-radius: 5px;
}

input#signup-fieldset:focus {
    border: solid yellow;
    border-radius: 5px;
}

input {
    border: solid rgba(0, 0, 0, .2);
    border-radius: .6rem;
}
