@font-face {
    font-family: "Alfaslab";
    src: url(AlfaSlabOne-Regular.ttf);
}

:root {
    font-family: "Alfaslab";
}

.main-container {
    display: flex;
}

.margin-container {
    width: 40vw;
    height: 100vh;
}

.sign-up-container {
    width: 60vw;
    height: 100vh;
}


.signup-interaction {
    display: flex;
}

#signup-fieldset {
    display: flex;
    justify-content: space-around;
}

.left-side-signup {
    display:flex;
    flex-direction: column;
    margin-right: 50px;
}

.right-side-signup {
    display: flex;
    flex-direction: column;
} 